/1_notes
/about.html
/apna_college.css
/apna_college.html
/background.html
/bg1.png
/bg2.jpg
/bg3.jpg
/bg4.webp
/bg5.jpeg
/bg6 (1).jpg
/bg6 (2).jpg
/bg7.jpeg
/bg8.webp
/bootstrap-5.1.3
/bootstrap-5.1.3 (2).zip
/bootstrap-5.1.3.zip
/bootstrap.html
/box_model.html
/carousel.css
/carousel.html
/ch1.css
/ch1.html
/ch2.css
/ch2.html
/ch3.css
/ch3.html
/ch4.css
/ch4.html
/ch5.css
/ch5.html
/ch6.css
/ch6.html
/ch8.css
/ch8.html
/ch9.css
/ch9.html
/color.html
/component.html
/contact.html
/contact_me_form.html
/Coursera java.pdf
/css
/css_mega_project.css
/css_mega_project.html
/education.html
/element.html
/experience.html
/flexbox.css
/flexbox.html
/float.html
/font.html
/form.html
/frame.html
/Google.html
/Google_files
/grid.html
/home.html
/icon
/image
/index.css
/index.html
/index_bs.html
/IntroToJava.pdf
/JavaChapter1.pdf
/js
/kitten.png.png
/logo.png
/main.html
/map1.jpg
/margin_vs_padding.html
/media_quaries.html
/mscplayer
/musicPlayer.html
/musicPlayer.png
/OIP.jpg
/part2.html
/payment_form.css
/payment_form.html
/position.html
/project.html
/project_1.html
/project_2.html
/script.js
/sidebar_main_content.css
/sidebar_main_content.html
/style.css
/table.html
/UltimateJavaCheatSheet.pdf
/video
/web design for everybody coursera certificate.pdf
/web dev